@import 'variables.scss';

.ant {
  &-select-selector,
  &-select-dropdown,
  &-btn,
  &-modal-content,
  &-modal-header {
    border-radius: 5px !important;
  }

  &-btn-primary {
    background: $primary-color;
    border-color: $primary-color;
  }

  &-slide-up-leave {
    animation-duration: 0s !important;
  }
}
