@import 'variables.scss';

.app-container {
  height: 100%;
  position: relative;
  overflow: hidden;

  &--marker-mode {
    .mapboxgl-canvas {
      cursor: url(../assets/add-cursor.svg), auto !important;
    }
  }
}

#deckgl-wrapper {
  pointer-events: none;
}

.control-panel {
  position: absolute;
  top: 15px;
  z-index: 100;
  width: 100%;
  pointer-events: none;
  height: 100%;
  overflow: hidden;

  &__inner {
    pointer-events: all;
    display: flex;
    column-gap: 10px;
    background: #b4b4b4;
    width: $panel-width;
    padding: 0 10px;
    height: $panel-height;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: $elevation-shadow;
    align-items: center;
    left: calc(50% - ($panel-width / 2));
    position: absolute;
    z-index: 3;
    transition: left ease-in-out 300ms, width ease-in-out 300ms;
  }

  &__title {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    color: white;
    text-shadow: $black-outline;
    margin-right: 10px;
  }

  .panel-button {
    &:last-child {
      margin-left: auto;
    }
  }

  &--big {
    .control-panel__inner,
    .settings,
    .counter {
      width: $big-panel-width;
      left: calc(50% - ($big-panel-width / 2));
    }
  }
}

.panel-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity ease-in-out 300ms;

  &--disabled {
    opacity: 30%;
    pointer-events: none;
  }

  &:hover {
    opacity: 70%;
  }

  &:active {
    opacity: 40%;
  }
}

.settings {
  padding: 10px;
  pointer-events: all;
  width: $panel-width;
  left: calc(50% - ($panel-width / 2));
  z-index: 2;
  background: white;
  box-shadow: $elevation-shadow;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateY(-100%);
  transition: left ease-in-out 300ms, transform ease-in-out 300ms, width ease-in-out 300ms;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
  row-gap: 10px;
  max-height: calc(100% - 90px);
  grid-template-rows: 1fr auto;

  &--visible {
    transform: translateY(calc(0px + $panel-height));
  }

  &__top {
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
  }

  .param__input {
    margin-left: auto;
  }

  .ant-select {
    grid-column: 1 / -1;
  }
}

.param {
  display: flex;
  align-items: center;
  column-gap: 10px;
  min-height: 0;

  &__title {
    font-weight: lighter;
  }

  &--number {
    input {
      width: 75px;
      margin-left: auto;
    }
  }

  &--code {
    grid-column: 1 / -1;
    flex-direction: column;
    align-items: flex-start;

    & > div {
      margin-top: 5px;
      min-height: 300px;
      width: 100%;
      padding: 10px;
      border: 1px solid #eee;
      overflow-y: auto;
      border-radius: 5px;

      * {
        font-family: 'Space Mono', monospace;
      }
    }
  }
}

.ant-input {
  border-radius: 5px;
}

.paused-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.25);

  &__text {
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 32px;
    margin-left: 50px;
    margin-top: 20px;
  }
}

.counter {
  pointer-events: all;
  width: $panel-width;
  left: calc(50% - ($panel-width / 2));
  z-index: 1;
  background: white;
  box-shadow: $elevation-shadow;
  position: absolute;
  top: $panel-height;
  font-weight: 800;
  font-size: 12px;
  padding: 8px 10px 9px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: left ease-in-out 300ms, width ease-in-out 300ms;

  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.speed-slider {
  width: 100%;
  padding: 0px;

  .ant-slider {
    margin: 0;
  }
}

.chart {
  border-radius: 5px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  padding: 25px 25px 20px 0px;
  background: white;
  box-shadow: $elevation-shadow;
  z-index: 50;
}

.export-btn {
  display: flex;
  align-items: center;
  column-gap: 10px;
  top: 20px;
  right: 20px;
  position: absolute;
}

.datasets {
  position: absolute;
  width: 200px;
  height: 100vh;
  left: 0;
  top: 0;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 10px 10px;
  row-gap: 10px;
  overflow-y: auto;
  transform: translateY(-100%);
  transition: transform ease-in-out 300ms;

  &__btn {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 30px;
    background: white;
    box-shadow: $elevation-shadow;
    cursor: pointer;
  }

  &__item {
    padding: 10px;
    width: 100%;
    text-align: left;
    background: #eee;
    border-radius: 5px;
    transition: opacity ease-in-out 300ms;
    cursor: pointer;

    &:hover {
      opacity: 50%;
    }

    &--upload {
      margin-top: auto;
      display: flex;
      align-items: center;
      column-gap: 10px;
      justify-content: center;
      background: rgb(0, 173, 255);
      color: white;
    }
  }

  &--open {
    transform: translateY(0);
  }
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}
