@import 'variables.scss';

.app-container {
  height: 100%;
  position: relative;
  overflow: hidden;

  &--marker-mode {
    .mapboxgl-canvas {
      cursor: url(../assets/add-cursor.svg), auto !important;
    }
  }
}

#deckgl-wrapper {
  pointer-events: none;
}

.control-panel {
  position: absolute;
  top: 15px;
  z-index: 100;
  width: 100%;
  pointer-events: none;
  height: 100%;
  overflow: hidden;

  &__inner {
    pointer-events: all;
    display: flex;
    column-gap: 10px;
    width: fit-content;
    background: #b4b4b4;
    width: $panel-width;
    padding: 0 10px;
    height: $panel-height;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: $elevation-shadow;
    align-items: center;
    left: calc(50% - 208px);
    position: absolute;
    z-index: 3;
  }

  &__title {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    color: white;
    text-shadow: $black-outline;
    margin-right: 10px;
  }

  .panel-button {
    $spacing: 15px;

    &:nth-child(3) {
      margin-right: $spacing;
    }

    &:last-child {
      margin-left: $spacing;
    }
  }
}

.panel-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity ease-in-out 300ms;

  &--disabled {
    opacity: 30%;
    pointer-events: none;
  }

  &:hover {
    opacity: 70%;
  }

  &:active {
    opacity: 40%;
  }
}

.settings {
  padding: 10px;
  pointer-events: all;
  width: $panel-width;
  left: calc(50% - 208px);
  z-index: 2;
  background: white;
  box-shadow: $elevation-shadow;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateY(-100%);
  transition: transform ease-in-out 300ms;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
  row-gap: 10px;

  &--visible {
    transform: translateY(calc(0px + $panel-height));
  }

  .param__input {
    margin-left: auto;
  }

  .ant-select {
    grid-column: 1 / -1;
  }
}

.param {
  display: flex;
  align-items: center;
  column-gap: 10px;

  &__title {
    font-weight: lighter;
  }

  &--number {
    input {
      width: 75px;
      margin-left: auto;
    }
  }

  &--code {
    grid-column: 1 / -1;
    flex-direction: column;
    align-items: flex-start;

    & > div {
      margin-top: 5px;
      min-height: 300px;
      width: 100%;
      padding: 10px;
      border: 1px solid #eee;
    }
  }
}

.ant-input {
  border-radius: 5px;
}

.paused-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.25);

  &__text {
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 32px;
    margin-left: 50px;
    margin-top: 20px;
  }
}

.counter {
  pointer-events: all;
  width: $panel-width;
  left: calc(50% - 208px);
  z-index: 1;
  background: white;
  box-shadow: $elevation-shadow;
  position: absolute;
  top: $panel-height;
  font-weight: 800;
  font-size: 12px;
  padding: 5px 10px 9px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.speed-slider {
  width: 100%;
  padding: 0px 7px;

  .ant-slider {
    margin: 0;
  }
}

.chart {
  position: absolute;
  right: 30px;
  bottom: 30px;
  padding: 25px 20px 5px 0px;
  background: white;
}
